<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
    <style>
        h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            color: rgba(0, 17, 255, 0.281);
        }
    </style>
</head>

<body>
    <h1>Welcome <%= user.name %> Sir! </h1>
    <h1>Your email is <%= user.email %> Sir! </h1>
    <h1>you live in <%= user.address %> Sir! </h1>
    <h1>Your Skills </h1>
    <ul>
        <% user.skills.forEach((items)=>{ %>
            <li>
                <%= items %>
            </li>
            <% }) %>

    </ul>

</body>

</html>